body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 1rem;
}

#map {
  height: 400px;
  margin-bottom: 20px;
  border: 2px solid #ccc;
}

canvas {
  max-width: 600px;
  margin-bottom: 20px;
}
